.one{
  width: 700px;
  background-color: cadetblue;
  border-radius: 10px;
}
.input1 {
  width: 80%;
  margin-left: 10%;
  display: flex;
  align-items: center;  
  gap: 10px;            
}
button {
   
  border-radius: 10px;  
  margin-left: 10px;    
}
.range
{
  width: 40%;
  
}
.check
{
  height: 20px;
  width: 20px;
}